FRAB_ACRONYM = '35c3'
FRAB_LOGIN_URL = 'https://frab.cccv.de/users/sign_in'
FRAB_JSON_URL = 'https://frab.cccv.de/en/35c3/reports/on_events/events_with_tech_rider.json'
FRAB_USERNAME = ''
FRAB_PASSWORD = ''
WEKAN_USERNAME = ''
WEKAN_PASSWORD = ''
WEKAN_URL = 'https://c3voc.de/todo'
WEKAN_BOARD = ''
WEKAN_SWIMLANE = ''
WEKAN_LIST = ''
WEKAN_USER = ''
WEKAN_CUSTOM1 = ''
WEKAN_CUSTOM2 = ''
